<div class="container">
    <h5 class="d-flex justify-content-center">Client Management</h5>
    <nav classs="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-Item">
                <button routerLink="addressType" class="m-1 btn btn-light btn-outilne-primary" Button>Address Types</button>
            </li>

            <li class="nav-Item">
                <button routerLink="cilent" class="m-1 btn btn-light btn-outilne-primary" Button>Clients</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>

 